body {
    background-color: #20262E;
    color: #E9E8E8;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "basic", sans-serif;
    border: 2px solid red;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    margin-left: 200px;
    margin-right: 200px;
}

.gameButton {
    font-family: "Press Start 2P", cursive;
    background-color: #CD5888;
    color: #eeeeee;
    border: none;
    border-radius: 12px;
    font-size: 30px;
    padding: 40px 0px;
    margin: 0px 100px 40px 100px;
    width: 300px;
    box-shadow: 0 9px #999;
    cursor: pointer;
    flex-shrink: 0;
}

.gameButton:hover {
    background-color: #913175;
}

.gameButton:active {
    background-color: #913175;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

h1 {
    text-align: center;
    margin-top: 80px;
    font-size: 80px;
    font-family: 'Staatliches', cursive;
    text-decoration: underline;
}

.results {
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 80px;
}

.score {
    font-family: "Press Start 2P", cursive;
    display: flex;
    margin-bottom: 80px;
    font-size: 80px;
    color: #CD5888;
}

.footer {
    display: flex;
    flex:1;
    align-items: flex-end;
}